@charset "UTF-8";
.body {
  background-color: #FCBCB8;
  font-family: Gobold, sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Gobold;
  src: url(../fonts/Gobold-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Gobold;
  src: url(../fonts/Gobold-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Helvetica;
  src: url(../fonts/fonts/helvetica-light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Helvetica;
  src: url(../fonts/helvetica.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Helvetica;
  src: url(../fonts/helvetica-bold.ttf);
  font-weight: 700;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  background: rgba(255, 255, 199, 0.3);
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}
.nav__title {
  color: #C879FF;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 1px 1px #0A0908;
}
@media screen and (min-width: 768px) {
  .nav__title {
    font-size: 3rem;
  }
}
.nav__title_copy {
  font-size: 1rem;
}
.nav__list {
  display: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-shadow: 1px 1px #0A0908;
}
@media screen and (min-width: 1024px) {
  .nav__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.nav__list_page {
  margin-left: 10px;
}
.nav__list_page_lien {
  color: #C879FF;
}
.nav__list_page_lien:hover {
  border-bottom: solid #7b506f 3px;
}
.nav__burger {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
@media screen and (min-width: 1024px) {
  .nav__burger {
    display: none;
  }
}
.nav__burger_trait {
  width: 30px;
  height: 6px;
  background-color: #C879FF;
}
.nav__lien {
  color: #C879FF;
}

.header {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  border-bottom: 2px solid #7b506f;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
}
.header__title {
  color: #C879FF;
  font-size: 4rem;
  position: absolute;
  top: 15%;
  left: 70%;
  z-index: 1000;
  text-transform: uppercase;
  display: none;
  text-shadow: 1px 1px 2px #0A0908;
}
@media screen and (min-width: 1024px) {
  .header__title {
    display: inline;
  }
}
.header__title_copy {
  font-size: 1rem;
}
.header__slogan {
  color: #7b506f;
  font-size: 2.5rem;
  position: absolute;
  top: 25%;
  left: 55%;
  z-index: 1000;
  display: none;
  text-shadow: 1px 1px 2px #0A0908;
}
@media screen and (min-width: 1024px) {
  .header__slogan {
    display: inline;
  }
}
.header__cta {
  background-color: #7b506f;
  padding: 1rem 3rem;
  color: #FFFFC7;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  z-index: 1000;
  margin-bottom: 15%;
}
.header__menu {
  position: absolute;
  left: 0;
  bottom: 3%;
  z-index: 100;
  width: 100%;
  text-align: center;
}
.header__menu_label {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: none;
  border-radius: 50px;
  border: solid 1px #C879FF;
  margin-right: 5px;
}
.header__menu_label:hover {
  background-color: #FCBCB8;
  border: none;
}
.header__menu_label:focus {
  background-color: #FCBCB8;
  border: none;
}
.header__input {
  opacity: 0;
  display: none;
}
.header__img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 10;
  transition: left 0s 0.75s;
}
.header [id^=slide]:checked + .header__img {
  left: 0;
  z-index: 11;
  transition: left 0.65s ease-out;
}

.histoire {
  padding-inline: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #7b506f;
}
.histoire__albert_citation {
  color: #FFFFC7;
  font-size: 1.5rem;
  text-align: right;
  padding-top: 10%;
  text-shadow: 1px 1px 2px #0A0908;
}
@media screen and (min-width: 576px) {
  .histoire__albert_citation {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .histoire__albert_citation {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .histoire__albert_citation {
    font-size: 4rem;
  }
}
.histoire__albert_cité {
  color: #FFFFC7;
  font-size: 0.8rem;
  text-align: right;
  margin-bottom: 10%;
  text-shadow: 1px 1px 2px #0A0908;
}
.histoire__presentation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .histoire__presentation {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 100%));
    grid-template-rows: repeat(1 minmax(0, 1fr));
    gap: 10px;
    width: 100%;
  }
}
.histoire__presentation_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .histoire__presentation_img {
    justify-content: space-around;
  }
}
.histoire__presentation_img_illu {
  max-height: 50vh;
  object-fit: cover;
  margin-bottom: 5%;
}
@media screen and (min-width: 1024px) {
  .histoire__presentation_img_illu {
    max-height: 50vh;
  }
}
@media screen and (min-width: 1280px) {
  .histoire__presentation_img_illu {
    max-height: 60vh;
  }
}
@media screen and (min-width: 1536px) {
  .histoire__presentation_img_illu {
    max-height: 50vh;
  }
}
@media screen and (min-width: 1920px) {
  .histoire__presentation_img_illu {
    max-height: 45vh;
  }
}
.histoire__presentation_img_illu:nth-of-type(2) {
  display: none;
}
@media screen and (min-width: 768px) {
  .histoire__presentation_img_illu:nth-of-type(2) {
    display: initial;
    max-width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .histoire__presentation_img_illu:nth-of-type(2) {
    max-width: 100%;
  }
}
.histoire__presentation_propos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: solid 2px #FFFFC7;
  border-radius: 25px;
  width: 100%;
}
.histoire__presentation_propos_title {
  width: 100%;
  text-align: center;
  color: #7b506f;
  margin-bottom: 5%;
  font-size: 1.5rem;
}
@media screen and (min-width: 576px) {
  .histoire__presentation_propos_title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .histoire__presentation_propos_title {
    font-size: 3rem;
  }
}
.histoire__presentation_propos_text {
  font-family: Helvetica, sans-serif;
  padding: 0 5% 5%;
}
.histoire__cta {
  background-color: #FFFFC7;
  padding: 1rem 3rem;
  color: #0A0908;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  margin-top: 2%;
}
@media screen and (min-width: 576px) {
  .histoire__cta {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .histoire__cta {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1817px) {
  .histoire__cta {
    font-size: 3.5rem;
  }
}
.histoire__cta:first-of-type {
  background-color: #7b506f;
  margin-left: 30%;
  color: #fff;
}
.histoire__cta:nth-of-type(2) {
  margin-right: 30%;
}
.histoire__cta:nth-of-type(3) {
  margin-left: 30%;
}
.histoire__cta:last-of-type {
  margin-right: 30%;
  margin-bottom: 5%;
}

.produits {
  padding-inline: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #7b506f;
  padding-bottom: 5%;
}
@media screen and (min-width: 1024px) {
  .produits {
    justify-content: space-between;
    align-items: flex-start;
  }
}
.produits__title {
  color: #FFFFC7;
  font-size: 2rem;
  margin-block: 10%;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 2px #0A0908;
  border: 2px solid #C879FF;
}
@media screen and (min-width: 576px) {
  .produits__title {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .produits__title {
    width: 100%;
    margin-block: 5%;
  }
}
@media screen and (min-width: 1536px) {
  .produits__title {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .produits__present {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .produits__present_video {
    height: 60vh;
    object-fit: cover;
  }
}
@merdia screen and (min-width:1536px) {
  .produits__present_video {
    height: 80vh;
  }
}
.produits__present_vibration {
  color: #7b506f;
  margin-block: 2%;
  border: thick double #FFFFC7;
  border-radius: 25px;
}
@media screen and (min-width: 768px) {
  .produits__present_vibration {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .produits__present_vibration {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1536px) {
  .produits__present_vibration {
    font-size: 2rem;
  }
}
.produits__present_vibration_txt1 {
  text-align: center;
  margin-bottom: 5%;
}
.produits__present_vibration_txt2 {
  text-align: right;
  padding: 0 5% 5% 0;
}
@media screen and (min-width: 1920px) {
  .produits__present_vibration_txt2 {
    padding-left: 5%;
  }
}
.produits__liste {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5%;
  margin: 5% 0 10%;
}
@media screen and (min-width: 1024px) {
  .produits__liste {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 1536px) {
  .produits__liste {
    margin-bottom: 5%;
  }
}
.produits__liste_article {
  position: relative;
}
.produits__liste_article_img {
  border: 0.5rem solid #FFFFC7;
}
.produits__liste_article_cta {
  position: absolute;
  top: 45%;
  left: 5%;
  background-color: #7b506f;
  padding: 0.7rem 1rem;
  color: #FCBCB8;
  font-size: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  display: none;
}
@media screen and (min-width: 576px) {
  .produits__liste_article_cta {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .produits__liste_article_cta {
    padding: 0.7rem 1rem;
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .produits__liste_article_cta {
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1536px) {
  .produits__liste_article_cta {
    top: 50%;
  }
}
@media screen and (min-width: 1920px) {
  .produits__liste_article_cta {
    top: 55%;
  }
}
.produits__liste_article_name {
  color: #7b506f;
  font-size: 0.8rem;
  margin-block: 5%;
}
@media screen and (min-width: 576px) {
  .produits__liste_article_name {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .produits__liste_article_name {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .produits__liste_article_name {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1280px) {
  .produits__liste_article_name {
    font-size: 1.5rem;
  }
}
.produits__liste_article_price {
  color: #7b506f;
  font-size: 0.8rem;
}
@media screen and (min-width: 576px) {
  .produits__liste_article_price {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .produits__liste_article_price {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .produits__liste_article_price {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .produits__liste_article_price {
    font-size: 1.5rem;
  }
}
.produits__liste_article_descr {
  color: #7b506f;
  font-size: 0.8rem;
  margin-block: 5%;
}
@media screen and (min-width: 576px) {
  .produits__liste_article_descr {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .produits__liste_article_descr {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .produits__liste_article_descr {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .produits__liste_article_descr {
    font-size: 1.5rem;
  }
}
.produits__liste_article_txt {
  font-family: Helvetica, sans-serif;
  font-size: 0.5rem;
}
@media screen and (min-width: 576px) {
  .produits__liste_article_txt {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) {
  .produits__liste_article_txt {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .produits__liste_article_txt {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .produits__liste_article_txt {
    font-size: 1.1rem;
  }
}

.news {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid #7b506f;
}
.news__title {
  color: #7b506f;
  font-size: 2rem;
  margin-block: 10%;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .news__title {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .news__title {
    margin-block: 5%;
  }
}
@media screen and (min-width: 1024px) {
  .news__title {
    width: 100%;
  }
}
.news__slider {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .news__slider {
    width: 50%;
  }
}
.news__slider_slide {
  max-height: 30vh;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 576px) {
  .news__slider_slide {
    max-height: 40vh;
  }
}
@media screen and (min-width: 768px) {
  .news__slider_slide {
    max-height: 50vh;
  }
}
@media screen and (min-width: 1024px) {
  .news__slider_slide {
    max-height: 35vh;
  }
}
.news__slider_before {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 2rem;
  color: rgba(255, 255, 199, 0.8);
  padding: 10px;
  left: 0;
}
@media screen and (min-width: 576px) {
  .news__slider_before {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .news__slider_before {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .news__slider_before {
    font-size: 2rem;
  }
}
.news__slider_before:hover {
  opacity: 1;
}
.news__slider_after {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 2rem;
  color: rgba(255, 255, 199, 0.8);
  padding: 10px;
  right: 0;
}
@media screen and (min-width: 576px) {
  .news__slider_after {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .news__slider_after {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .news__slider_after {
    font-size: 2rem;
  }
}
.news__slider_after:hover {
  opacity: 1;
}
.news__slider_btn {
  position: absolute;
  top: 55%;
  left: 35%;
  background-color: #C879FF;
  padding: 0.3rem 1rem;
  color: #FCBCB8;
  font-size: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
}
@media screen and (min-width: 576px) {
  .news__slider_btn {
    top: 60%;
    left: 40%;
    padding: 0.3rem 1.2rem;
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 768px) {
  .news__slider_btn {
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    left: 37%;
  }
}
@media screen and (min-width: 1024px) {
  .news__slider_btn {
    padding: 0.3rem 1rem;
    font-size: 0.6rem;
    left: 40%;
  }
}
.news__slider_descr {
  position: absolute;
  bottom: 0;
  color: #FFFFC7;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-inline: 20%;
  padding-block: 2%;
}
@media screen and (min-width: 576px) {
  .news__slider_descr {
    margin-inline: 30%;
  }
}
@media screen and (min-width: 768px) {
  .news__slider_descr {
    margin-inline: 35%;
  }
}
@media screen and (min-width: 1024px) {
  .news__slider_descr {
    margin-inline: 20%;
  }
}
.news__slider_descr_left {
  margin-left: 5%;
  width: 40%;
}
.news__slider_descr_left_name {
  font-size: 1.2rem;
  padding-bottom: 2%;
}
@media screen and (min-width: 576px) {
  .news__slider_descr_left_name {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .news__slider_descr_left_name {
    font-size: 1.2rem;
  }
}
.news__slider_descr_left_pres {
  font-family: Helvetica, sans-serif;
  font-size: 0.5rem;
}
.news__slider_descr_price {
  margin-right: 5%;
  width: 40%;
  text-align: center;
  font-size: 2rem;
}
.news__text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 1024px) {
  .news__text {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.news__text_test {
  width: 45%;
  color: #C879FF;
  padding-left: 5%;
}
@media screen and (min-width: 576px) {
  .news__text_test {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .news__text_test {
    width: 100%;
  }
}
.news__text_attention {
  width: 45%;
  padding-right: 5%;
  margin-block: 5%;
}
@media screen and (min-width: 1024px) {
  .news__text_attention {
    width: 100%;
    padding-right: 10%;
  }
}
.news__text_attention_disclaimer {
  font-family: Helvetica, sans-serif;
  font-size: 0.5rem;
  margin-bottom: 5%;
}
@media screen and (min-width: 576px) {
  .news__text_attention_disclaimer {
    font-size: 0.7rem;
  }
}
.news__text_attention_disclaimer_name {
  font-family: "Gobold", sans-serif;
}
.news__text_attention_prevent {
  font-family: Helvetica, sans-serif;
  font-size: 0.2rem;
}
@media screen and (min-width: 576px) {
  .news__text_attention_prevent {
    font-size: 0.4rem;
  }
}
@media screen and (min-width: 768px) {
  .news__text_attention_prevent {
    font-size: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
