@charset "UTF-8";
.lock_scroll {
  overflow: hidden;
}

.body {
  background-color: #FCBCB8;
  font-family: Gobold, sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Gobold;
  src: url(../fonts/gobold-regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: Gobold;
  src: url(../fonts/gobold-bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: Helvetica;
  src: url(../fonts/helvetica-webfont.woff2);
  font-weight: 400;
}
@font-face {
  font-family: Helvetica;
  src: url(../fonts/helvetica-bold.woff2);
  font-weight: 700;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #7b506f;
  height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}
.nav__title {
  color: #C879FF;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 1px 1px #0A0908;
}
@media screen and (min-width: 768px) {
  .nav__title {
    font-size: 3rem;
  }
}
.nav__title_copy {
  font-size: 1rem;
}
.nav__list {
  display: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-shadow: 1px 1px #0A0908;
}
@media screen and (min-width: 1024px) {
  .nav__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.nav__list_page {
  margin-left: 10px;
}
.nav__list_page_lien {
  color: #C879FF;
  display: block;
  position: relative;
}
.nav__list_page_lien::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #FFFFC7;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav__list_page_lien:hover::after {
  width: 100%;
  left: 0;
}
.nav__sidenav {
  width: 250px;
  position: fixed;
  background-color: #7b506f;
  z-index: 1;
  top: 10vh;
  left: -250px;
  padding-top: 60px;
  transition: left 0.5s ease;
}
@media screen and (min-width: 1024px) {
  .nav__sidenav {
    display: none;
  }
}
.nav__sidenav_close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  color: #C879FF;
}
.nav__sidenav_close:hover {
  color: #0A0908;
}
.nav__sidenav_liste {
  list-style-type: none;
  padding-left: 5%;
  padding-block: 5%;
}
.nav__sidenav_liste_link {
  padding: 10px 8px 10px 32px;
  font-size: 1.5rem;
  color: #C879FF;
  display: block;
  transition: 0.3s;
}
.nav__sidenav_liste_link:hover {
  color: #0A0908;
}
@media screen and (min-width: 1024px) {
  .nav__openbtn {
    display: none;
  }
}
.nav__openbtn_burger-icon_slide {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #C879FF;
  margin: 6px 0;
}
.nav__lien {
  color: #C879FF;
}

.header {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  border-bottom: 2px solid #7b506f;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
}
.header__title {
  color: #C879FF;
  font-size: 4rem;
  position: absolute;
  top: 15%;
  left: 70%;
  z-index: 1000;
  text-transform: uppercase;
  display: none;
  text-shadow: 1px 1px 2px #0A0908;
}
@media screen and (min-width: 1024px) {
  .header__title {
    display: inline;
  }
}
.header__title_copy {
  font-size: 1rem;
}
.header__slogan {
  color: #7b506f;
  font-size: 2.5rem;
  position: absolute;
  top: 25%;
  left: 55%;
  z-index: 1000;
  display: none;
  text-shadow: 1px 1px 2px #0A0908;
}
@media screen and (min-width: 1024px) {
  .header__slogan {
    display: inline;
  }
}
.header__cta {
  background-color: #7b506f;
  padding: 1rem 3rem;
  color: #FFFFC7;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  z-index: 1000;
  margin-bottom: 15%;
}
.header__menu {
  position: absolute;
  left: 0;
  bottom: 3%;
  z-index: 100;
  width: 100%;
  text-align: center;
}
.header__menu_label {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: none;
  border-radius: 50px;
  border: solid 1px #C879FF;
  margin-right: 5px;
}
.header__menu_label:hover {
  background-color: #FCBCB8;
  border: none;
}
.header__menu_label:focus {
  background-color: #FCBCB8;
  border: none;
}
.header__input {
  opacity: 0;
  display: none;
}
.header__img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 10;
  transition: left 0s 0.75s;
}
.header [id^=slide]:checked + .header__img {
  left: 0;
  z-index: 11;
  transition: left 0.65s ease-out;
}

.histoire {
  position: relative;
  padding-inline: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.histoire::after {
  content: "";
  width: 80%;
  border-bottom: 2px solid #7b506f;
  position: absolute;
  bottom: 0;
  left: 0;
}
.histoire__albert_citation {
  color: #FFFFC7;
  font-size: 1.5rem;
  text-align: right;
  padding-top: 10%;
  text-shadow: 1px 1px 2px #0A0908;
}
@media screen and (min-width: 576px) {
  .histoire__albert_citation {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .histoire__albert_citation {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .histoire__albert_citation {
    font-size: 4rem;
  }
}
.histoire__albert_cité {
  color: #FFFFC7;
  font-size: 0.8rem;
  text-align: right;
  margin-bottom: 10%;
  text-shadow: 1px 1px 2px #0A0908;
}
.histoire__presentation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .histoire__presentation {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 100%));
    grid-template-rows: repeat(1 minmax(0, 1fr));
    gap: 10px;
    width: 100%;
  }
}
.histoire__presentation_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .histoire__presentation_img {
    justify-content: space-around;
  }
}
.histoire__presentation_img_illu {
  max-height: 50vh;
  object-fit: cover;
  margin-bottom: 5%;
}
@media screen and (min-width: 1024px) {
  .histoire__presentation_img_illu {
    max-height: 50vh;
  }
}
@media screen and (min-width: 1280px) {
  .histoire__presentation_img_illu {
    max-height: 60vh;
  }
}
@media screen and (min-width: 1536px) {
  .histoire__presentation_img_illu {
    max-height: 50vh;
  }
}
@media screen and (min-width: 1920px) {
  .histoire__presentation_img_illu {
    max-height: 45vh;
  }
}
.histoire__presentation_img_illu:nth-of-type(2) {
  display: none;
}
@media screen and (min-width: 768px) {
  .histoire__presentation_img_illu:nth-of-type(2) {
    display: initial;
    max-width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .histoire__presentation_img_illu:nth-of-type(2) {
    max-width: 100%;
  }
}
.histoire__presentation_propos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: solid 2px #FFFFC7;
  border-radius: 25px;
  width: 100%;
}
.histoire__presentation_propos_title {
  width: 100%;
  text-align: center;
  color: #7b506f;
  margin-bottom: 5%;
  font-size: 1.5rem;
}
@media screen and (min-width: 576px) {
  .histoire__presentation_propos_title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .histoire__presentation_propos_title {
    font-size: 3rem;
  }
}
.histoire__presentation_propos_text {
  font-family: Helvetica, sans-serif;
  padding: 0 5% 5%;
}
.histoire__presentation_propos_text_hidden {
  display: none;
}
@media screen and (min-width: 1024px) {
  .histoire__presentation_propos_text_hidden {
    display: inline;
  }
}
.histoire__cta {
  background-color: #FFFFC7;
  padding: 1rem 3rem;
  color: #0A0908;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  margin-top: 2%;
}
@media screen and (min-width: 576px) {
  .histoire__cta {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .histoire__cta {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1817px) {
  .histoire__cta {
    font-size: 3.5rem;
  }
}
.histoire__cta:first-of-type {
  background-color: #7b506f;
  margin-left: 30%;
  color: #fff;
}
.histoire__cta:nth-of-type(2) {
  margin-right: 30%;
}
.histoire__cta:nth-of-type(3) {
  margin-left: 30%;
}
.histoire__cta:last-of-type {
  margin-right: 30%;
  margin-bottom: 5%;
}

.produits {
  position: relative;
  padding-inline: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}
@media screen and (min-width: 1024px) {
  .produits {
    justify-content: space-between;
    align-items: flex-start;
  }
}
.produits::after {
  content: "";
  width: 80%;
  border-bottom: 2px solid #7b506f;
  position: absolute;
  bottom: 0;
  right: 0;
}
.produits__title {
  color: #FFFFC7;
  font-size: 2rem;
  margin-block: 10%;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 2px #0A0908;
  border: 2px solid #C879FF;
}
@media screen and (min-width: 576px) {
  .produits__title {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .produits__title {
    width: 100%;
    margin-block: 5%;
  }
}
@media screen and (min-width: 1536px) {
  .produits__title {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .produits__present {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .produits__present_video {
    height: 60vh;
    object-fit: cover;
  }
}
@media screen and (min-width: 1536px) {
  .produits__present_video {
    height: 80vh;
  }
}
.produits__present_vibration {
  color: #7b506f;
  margin-block: 2%;
  border: thick double #FFFFC7;
  border-radius: 25px;
}
@media screen and (min-width: 768px) {
  .produits__present_vibration {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .produits__present_vibration {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1536px) {
  .produits__present_vibration {
    font-size: 2rem;
  }
}
.produits__present_vibration_txt1 {
  text-align: center;
  margin-bottom: 5%;
}
.produits__present_vibration_txt2 {
  text-align: right;
  padding: 0 5% 5% 0;
}
@media screen and (min-width: 1920px) {
  .produits__present_vibration_txt2 {
    padding-left: 5%;
  }
}
.produits__liste {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5%;
  margin: 5% 0 10%;
}
@media screen and (min-width: 1024px) {
  .produits__liste {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 1536px) {
  .produits__liste {
    margin-bottom: 5%;
  }
}
.produits__liste_article {
  position: relative;
}
.produits__liste_article_img {
  border: 0.5rem solid #FFFFC7;
}
.produits__liste_article_cta {
  position: absolute;
  top: 45%;
  left: 5%;
  background-color: #7b506f;
  padding: 0.7rem 1rem;
  color: #FCBCB8;
  font-size: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  display: none;
}
@media screen and (min-width: 576px) {
  .produits__liste_article_cta {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .produits__liste_article_cta {
    padding: 0.7rem 1rem;
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .produits__liste_article_cta {
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1536px) {
  .produits__liste_article_cta {
    top: 50%;
  }
}
@media screen and (min-width: 1920px) {
  .produits__liste_article_cta {
    top: 55%;
  }
}
.produits__liste_article_name {
  color: #7b506f;
  font-size: 0.8rem;
  margin-block: 5%;
}
@media screen and (min-width: 576px) {
  .produits__liste_article_name {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .produits__liste_article_name {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .produits__liste_article_name {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1280px) {
  .produits__liste_article_name {
    font-size: 1.5rem;
  }
}
.produits__liste_article_price {
  color: #7b506f;
  font-size: 0.8rem;
}
@media screen and (min-width: 576px) {
  .produits__liste_article_price {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .produits__liste_article_price {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .produits__liste_article_price {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .produits__liste_article_price {
    font-size: 1.5rem;
  }
}
.produits__liste_article_descr {
  color: #7b506f;
  font-size: 0.8rem;
  margin-block: 5%;
}
@media screen and (min-width: 576px) {
  .produits__liste_article_descr {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .produits__liste_article_descr {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .produits__liste_article_descr {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .produits__liste_article_descr {
    font-size: 1.5rem;
  }
}
.produits__liste_article_txt {
  font-family: Helvetica, sans-serif;
  font-size: 0.5rem;
}
@media screen and (min-width: 576px) {
  .produits__liste_article_txt {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) {
  .produits__liste_article_txt {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .produits__liste_article_txt {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .produits__liste_article_txt {
    font-size: 1.1rem;
  }
}

.news {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10%;
}
.news::after {
  content: "";
  width: 80%;
  border-bottom: 2px solid #7b506f;
  position: absolute;
  bottom: 0;
  left: 0;
}
.news__title {
  color: #7b506f;
  font-size: 2rem;
  margin-block: 10%;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .news__title {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .news__title {
    margin-block: 5%;
  }
}
@media screen and (min-width: 1024px) {
  .news__title {
    width: 100%;
  }
}
@media screen and (min-width: 1536px) {
  .news__title {
    font-size: 4rem;
  }
}
.news__slider {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .news__slider {
    width: 50%;
  }
}
.news__slider_slide {
  max-height: 30vh;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 576px) {
  .news__slider_slide {
    max-height: 40vh;
  }
}
@media screen and (min-width: 768px) {
  .news__slider_slide {
    max-height: 50vh;
  }
}
@media screen and (min-width: 1024px) {
  .news__slider_slide {
    max-height: 35vh;
  }
}
@media screen and (min-width: 1280px) {
  .news__slider_slide {
    max-height: 45vh;
  }
}
@media screen and (min-width: 1536px) {
  .news__slider_slide {
    max-height: 50vh;
  }
}
@media screen and (min-width: 1920px) {
  .news__slider_slide {
    max-height: 60vh;
  }
}
.news__slider_before {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 2rem;
  color: rgba(255, 255, 199, 0.8);
  padding: 10px;
  left: 0;
}
@media screen and (min-width: 576px) {
  .news__slider_before {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .news__slider_before {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .news__slider_before {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .news__slider_before {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1536px) {
  .news__slider_before {
    font-size: 4rem;
  }
}
.news__slider_before:hover {
  opacity: 1;
}
.news__slider_after {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 2rem;
  color: rgba(255, 255, 199, 0.8);
  padding: 10px;
  right: 0;
}
@media screen and (min-width: 576px) {
  .news__slider_after {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .news__slider_after {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .news__slider_after {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .news__slider_after {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1536px) {
  .news__slider_after {
    font-size: 4rem;
  }
}
.news__slider_after:hover {
  opacity: 1;
}
.news__slider_descr {
  position: absolute;
  bottom: 0;
  color: #FFFFC7;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-inline: 20%;
  padding-block: 2%;
}
@media screen and (min-width: 576px) {
  .news__slider_descr {
    margin-inline: 25%;
  }
}
@media screen and (min-width: 768px) {
  .news__slider_descr {
    margin-inline: 30%;
  }
}
@media screen and (min-width: 1024px) {
  .news__slider_descr {
    margin-inline: 20%;
  }
}
@media screen and (min-width: 1280px) {
  .news__slider_descr {
    margin-inline: 25%;
  }
}
@media screen and (min-width: 1536px) {
  .news__slider_descr {
    margin-inline: 30%;
  }
}
@media screen and (min-width: 1920px) {
  .news__slider_descr {
    margin-inline: 35%;
  }
}
.news__slider_descr_left {
  margin-left: 5%;
  width: 40%;
}
.news__slider_descr_left_name {
  font-size: 1.2rem;
  padding-bottom: 2%;
  text-shadow: 1px 1px #0A0908;
}
@media screen and (min-width: 576px) {
  .news__slider_descr_left_name {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .news__slider_descr_left_name {
    font-size: 1.2rem;
  }
}
.news__slider_descr_left_pres {
  font-family: Helvetica, sans-serif;
  font-size: 0.5rem;
  text-shadow: 1px 1px #0A0908;
}
.news__slider_descr_price {
  width: 40%;
  text-align: center;
  font-size: 2rem;
  text-shadow: 1px 1px #0A0908;
}
.news__slider_descr_btn {
  background-color: #C879FF;
  padding: 0.3rem 1rem;
  color: #FCBCB8;
  font-size: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  margin-top: 5%;
}
@media screen and (min-width: 576px) {
  .news__slider_descr_btn {
    padding: 0.3rem 1.2rem;
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 768px) {
  .news__slider_descr_btn {
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .news__slider_descr_btn {
    padding: 0.3rem 1rem;
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .news__slider_descr_btn {
    padding: 0.3rem 1.2rem;
    font-size: 1rem;
  }
}
.news__text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 1024px) {
  .news__text {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.news__text_test {
  width: 45%;
  color: #C879FF;
  padding-left: 5%;
}
@media screen and (min-width: 576px) {
  .news__text_test {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .news__text_test {
    width: 100%;
    padding-left: 0;
    padding-right: 5%;
  }
}
@media screen and (min-width: 1920px) {
  .news__text_test {
    font-size: 2.5rem;
  }
}
.news__text_attention {
  width: 45%;
  padding-right: 5%;
  margin-block: 5%;
}
@media screen and (min-width: 1024px) {
  .news__text_attention {
    width: 100%;
    padding-right: 5%;
  }
}
.news__text_attention_disclaimer {
  font-family: Helvetica, sans-serif;
  font-size: 0.5rem;
  margin-bottom: 5%;
}
@media screen and (min-width: 576px) {
  .news__text_attention_disclaimer {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 1280px) {
  .news__text_attention_disclaimer {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1920px) {
  .news__text_attention_disclaimer {
    font-size: 1.2rem;
  }
}
.news__text_attention_disclaimer_name {
  font-family: "Gobold", sans-serif;
}
.news__text_attention_prevent {
  font-family: Helvetica, sans-serif;
  font-size: 0.2rem;
}
@media screen and (min-width: 576px) {
  .news__text_attention_prevent {
    font-size: 0.4rem;
  }
}
@media screen and (min-width: 768px) {
  .news__text_attention_prevent {
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 1536px) {
  .news__text_attention_prevent {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 1920px) {
  .news__text_attention_prevent {
    font-size: 0.8rem;
  }
}

.avis {
  position: relative;
  padding-inline: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}
@media screen and (min-width: 576px) {
  .avis {
    padding-inline: 10%;
  }
}
@media screen and (min-width: 1024px) {
  .avis {
    padding-inline: 5%;
    padding-bottom: 25%;
  }
}
@media screen and (min-width: 1536px) {
  .avis {
    padding-bottom: 10%;
  }
}
.avis::after {
  content: "";
  width: 80%;
  border-bottom: 2px solid #7b506f;
  position: absolute;
  bottom: 0;
  right: 0;
}
.avis__title {
  color: #7b506f;
  font-size: 2rem;
  margin-block: 10%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline solid #FFFFC7;
}
@media screen and (min-width: 576px) {
  .avis__title {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .avis__title {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .avis__title {
    margin-block: 5%;
  }
}
@media screen and (min-width: 1536px) {
  .avis__title {
    font-size: 4rem;
  }
}
.avis__grid {
  display: grid;
  grid-template-columns: repeat(1);
}
@media screen and (min-width: 1024px) {
  .avis__grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 5%;
  }
}
@media screen and (min-width: 1280px) {
  .avis__grid {
    padding-inline: 10%;
  }
}
@media screen and (min-width: 1536px) {
  .avis__grid {
    grid-template-columns: repeat(3, 2fr);
  }
}
@media screen and (min-width: 1920px) {
  .avis__grid {
    padding-inline: 0;
  }
}
.avis__grid_notice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10%;
}
@media screen and (min-width: 576px) {
  .avis__grid_notice {
    padding-inline: 10%;
  }
}
@media screen and (min-width: 768px) {
  .avis__grid_notice {
    padding-inline: 15%;
  }
}
@media screen and (min-width: 1024px) {
  .avis__grid_notice {
    padding-inline: 0;
    align-items: flex-start;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .avis__grid_notice:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1/3;
  }
}
@media screen and (min-width: 1024px) {
  .avis__grid_notice:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
  }
}
@media screen and (min-width: 1024px) {
  .avis__grid_notice:nth-of-type(3) {
    grid-column: 2;
    grid-row: 2;
  }
}
@media screen and (min-width: 1536px) {
  .avis__grid_notice:nth-of-type(3) {
    grid-column: 3;
    grid-row: 1;
  }
}
.avis__grid_notice:nth-of-type(4) {
  display: none;
}
@media screen and (min-width: 1024px) {
  .avis__grid_notice:nth-of-type(4) {
    display: flex;
    grid-column: 1;
    grid-row: 3;
  }
}
@media screen and (min-width: 1536px) {
  .avis__grid_notice:nth-of-type(4) {
    grid-column: 2;
    grid-row: 2;
  }
}
.avis__grid_notice:nth-of-type(5) {
  display: none;
}
@media screen and (min-width: 1024px) {
  .avis__grid_notice:nth-of-type(5) {
    display: flex;
    grid-column: 2;
    grid-row: 3;
  }
}
@media screen and (min-width: 1536px) {
  .avis__grid_notice:nth-of-type(5) {
    grid-column: 3;
    grid-row: 2;
  }
}
.avis__grid_notice_photo {
  border-radius: 10px 100px;
  max-height: 70px;
  max-width: 70px;
}
@media screen and (min-width: 576px) {
  .avis__grid_notice_photo {
    max-height: 100px;
    max-width: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .avis__grid_notice_photo {
    max-height: 120px;
    max-width: 120px;
  }
}
.avis__grid_notice_name {
  color: #C879FF;
}
.avis__grid_notice_name_date {
  font-size: 0.5rem;
  color: #C879FF;
  font-family: Helvetica, san-serif;
}
.avis__grid_notice_op {
  background-color: #C879FF;
  margin-block: 5%;
  border: 2px solid #7b506f;
  border-radius: 25px;
  width: 100%;
}
.avis__grid_notice_op_txt {
  font-family: Helvetica, sans-serif;
  color: #FFFFC7;
  padding: 5%;
}
.avis__grid_notice_op_like {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  color: #FFFFC7;
}
.avis__grid_notice_op_like_heart {
  color: #FFFFC7;
  height: 20px;
}
.avis__grid_notice_op_like_number {
  margin-left: 5%;
}
.avis__grid_contact {
  border: 5px solid #FFFFC7;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .avis__grid_contact {
    grid-row: 4;
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1536px) {
  .avis__grid_contact {
    grid-row: 3;
    grid-column: 1/4;
    padding-inline: 15%;
    margin-bottom: 5%;
  }
}
.avis__grid_contact_title {
  color: #C879FF;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: 5%;
  text-shadow: 1px 1px #0A0908;
}
@media screen and (min-width: 1024px) {
  .avis__grid_contact_title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1920px) {
  .avis__grid_contact_title {
    font-size: 3rem;
  }
}
.avis__grid_contact_form {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
}
.avis__grid_contact_form_name {
  margin-top: 1rem;
}
.avis__grid_contact_form_name_input {
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #C879FF;
  border-radius: 10px;
}
.avis__grid_contact_form_name_input::placeholder {
  font-family: Helvetica, sans-serif;
}
.avis__grid_contact_form_name_input:focus {
  border-color: #7b506f;
}
.avis__grid_contact_form_mail {
  margin-top: 1rem;
}
.avis__grid_contact_form_mail_input {
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #C879FF;
  border-radius: 10px;
}
.avis__grid_contact_form_mail_input::placeholder {
  font-family: Helvetica, sans-serif;
}
.avis__grid_contact_form_mail_input:focus {
  border-color: #7b506f;
}
.avis__grid_contact_form_msg {
  margin-top: 1rem;
}
.avis__grid_contact_form_msg_txt {
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #C879FF;
  vertical-align: top;
  resize: none;
  height: 25vh;
}
@media screen and (min-width: 1024px) {
  .avis__grid_contact_form_msg_txt {
    height: 15vh;
  }
}
.avis__grid_contact_form_msg_txt::placeholder {
  font-family: Helvetica, sans-serif;
}
.avis__grid_contact_form_msg_txt:focus {
  border-color: #7b506f;
}
.avis__grid_contact_button {
  margin-block: 5%;
}
@media screen and (min-width: 1024px) {
  .avis__grid_contact_button {
    margin-top: 0;
  }
}
.avis__grid_contact_button_btn {
  font-family: "Gobold", sans-serif;
  color: #FFFFC7;
  background-color: #7b506f;
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.3rem 0.6rem;
}
@media screen and (min-width: 576px) {
  .avis__grid_contact_button_btn {
    font-size: 1.5rem;
  }
}

.entreprise {
  position: relative;
  padding-inline: 5%;
  display: grid;
  grid-template-columns: repeat(2);
  gap: 10px;
  padding-bottom: 10%;
  border-bottom: 2px solid #7b506f;
}
@media screen and (min-width: 1024px) {
  .entreprise {
    gap: 25px;
  }
}
@media screen and (min-width: 1920px) {
  .entreprise {
    padding-bottom: 5%;
  }
}
.entreprise__title {
  color: #7b506f;
  font-size: 2rem;
  margin-block: 10%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline solid #FFFFC7;
  grid-column: 1/4;
  grid-row: 1;
}
@media screen and (min-width: 576px) {
  .entreprise__title {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .entreprise__title {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .entreprise__title {
    margin-bottom: 0;
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1536px) {
  .entreprise__title {
    font-size: 4rem;
  }
}
.entreprise__usine {
  grid-column: 1;
  grid-row: 2;
}
.entreprise__usine_illu {
  padding-top: 40%;
  margin-bottom: 20%;
}
@media screen and (min-width: 576px) {
  .entreprise__usine_illu {
    padding-top: 20%;
    margin-bottom: 10%;
  }
}
@media screen and (min-width: 768px) {
  .entreprise__usine_illu {
    padding-top: 5%;
    margin-bottom: 5%;
  }
}
@media screen and (min-width: 1280px) {
  .entreprise__usine_illu {
    max-width: 500px;
  }
}
.entreprise__usine_descr {
  color: #7b506f;
  font-size: 0.5rem;
  text-decoration: underline #FFFFC7;
}
@media screen and (min-width: 576px) {
  .entreprise__usine_descr {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 768px) {
  .entreprise__usine_descr {
    font-size: 1rem;
  }
}
.entreprise__encart {
  grid-column: 1;
  grid-row: 3;
}
@media screen and (min-width: 768px) {
  .entreprise__encart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1280px) {
  .entreprise__encart {
    max-width: 500px;
  }
}
.entreprise__encart_profil {
  margin-bottom: 10%;
}
@media screen and (min-width: 576px) {
  .entreprise__encart_profil {
    margin-bottom: 5%;
  }
}
@media screen and (min-width: 768px) {
  .entreprise__encart_profil {
    margin-bottom: 0;
    max-height: 300px;
    width: 40%;
  }
}
.entreprise__encart_name {
  color: #7b506f;
  font-size: 0.5rem;
  text-decoration: underline #FFFFC7;
}
@media screen and (min-width: 576px) {
  .entreprise__encart_name {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 768px) {
  .entreprise__encart_name {
    font-size: 1rem;
    width: 35%;
  }
}
.entreprise__txt {
  padding: 10px;
  grid-column: 2;
  grid-row: 2;
  font-family: Helvetica, sans-serif;
  font-size: 0.4rem;
  color: #7b506f;
  border: 2px solid #FFFFC7;
  border-radius: 25px 0 25px 0;
}
@media screen and (min-width: 576px) {
  .entreprise__txt {
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 768px) {
  .entreprise__txt {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .entreprise__txt {
    grid-row: 2/4;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .entreprise__txt {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1536px) {
  .entreprise__txt {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1920px) {
  .entreprise__txt {
    font-size: 2rem;
  }
}
.entreprise__infos {
  grid-column: 2;
  grid-row: 3;
}
@media screen and (min-width: 576px) {
  .entreprise__infos {
    margin-top: 15%;
  }
}
@media screen and (min-width: 768px) {
  .entreprise__infos {
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .entreprise__infos {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .entreprise__infos {
    max-width: 500px;
  }
}
.entreprise__infos_first {
  background-color: #FFFFC7;
  margin-top: 5%;
  color: #C879FF;
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .entreprise__infos_first {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .entreprise__infos_first {
    width: 70%;
    margin-top: 0;
    font-size: 1.2rem;
  }
}
.entreprise__infos_first_name {
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .entreprise__infos_first_name {
    padding-right: 10px;
  }
}
.entreprise__infos_tel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #FFFFC7;
  margin-top: 5%;
  color: #C879FF;
  text-align: center;
  padding: 10px;
  font-size: 0.6rem;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .entreprise__infos_tel {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .entreprise__infos_tel {
    width: 70%;
    margin-top: 0;
    font-size: 1.2rem;
  }
}
.entreprise__infos_tel_icon {
  margin-right: 10px;
}
.entreprise__infos_gsm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #FFFFC7;
  margin-top: 5%;
  color: #C879FF;
  text-align: center;
  padding: 10px;
  font-size: 0.6rem;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .entreprise__infos_gsm {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .entreprise__infos_gsm {
    width: 70%;
    margin-top: 0;
    font-size: 1.2rem;
  }
}
.entreprise__infos_gsm_icon {
  margin-right: 10px;
}
.entreprise__infos_mail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #FFFFC7;
  margin-top: 5%;
  color: #C879FF;
  text-align: center;
  padding: 10px;
  font-size: 0.6rem;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .entreprise__infos_mail {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .entreprise__infos_mail {
    width: 70%;
    margin-top: 0;
    font-size: 1.2rem;
  }
}
.entreprise__infos_mail_icon {
  margin-right: 10px;
}
.entreprise__infos_adress {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #FFFFC7;
  margin-top: 5%;
  color: #C879FF;
  text-align: center;
  padding: 10px;
  font-size: 0.6rem;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .entreprise__infos_adress {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .entreprise__infos_adress {
    width: 70%;
    margin-top: 0;
    font-size: 1.2rem;
  }
}
.entreprise__infos_adress_icon {
  margin-right: 10px;
}
.entreprise__map {
  grid-column: 1/3;
  grid-row: 4;
  height: 300px;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .entreprise__map {
    height: 500px;
  }
}
@media screen and (min-width: 768px) {
  .entreprise__map {
    height: 700px;
  }
}
@media screen and (min-width: 1024px) {
  .entreprise__map {
    grid-column: 2/4;
    grid-row: 4/5;
    height: 500px;
  }
}
@media screen and (min-width: 1536px) {
  .entreprise__map {
    width: 70%;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1920px) {
  .entreprise__map {
    width: 50%;
  }
}

.footer {
  background-color: #0A0908;
  color: #7b506f;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
@media screen and (min-width: 1024px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2%;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1536px) {
  .footer {
    padding-top: 2%;
  }
}
.footer__left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.7rem;
}
@media screen and (min-width: 576px) {
  .footer__left {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1536px) {
  .footer__left {
    font-size: 1.2rem;
  }
}
.footer__left_about {
  width: 100%;
  color: #7b506f;
}
.footer__left_contact {
  width: 100%;
  color: #7b506f;
}
.footer__left_terms {
  width: 100%;
  color: #7b506f;
}
.footer__rs {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.7rem;
  padding-left: 50%;
}
@media screen and (min-width: 576px) {
  .footer__rs {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__rs {
    margin-inline: auto;
  }
}
@media screen and (min-width: 1024px) {
  .footer__rs {
    margin-inline: 0;
    padding-left: 0;
  }
}
@media screen and (min-width: 1536px) {
  .footer__rs {
    font-size: 1.2rem;
  }
}
.footer__rs_fb {
  width: 100%;
}
.footer__rs_fb_link {
  color: #7b506f;
}
.footer__rs_twitter {
  width: 100%;
}
.footer__rs_twitter_link {
  color: #7b506f;
}
.footer__rs_insta {
  width: 100%;
}
.footer__rs_insta_link {
  color: #7b506f;
}
.footer__letter {
  grid-column: 1/3;
  font-family: Helvetica, sans-serif;
  font-size: 0.7rem;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .footer__letter {
    grid-column: 1;
    margin-inline: 0;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__letter {
    grid-column: 3;
  }
}
@media screen and (min-width: 1536px) {
  .footer__letter {
    font-size: 1rem;
  }
}
.footer__letter_title {
  margin-bottom: 10px;
}
.footer__letter_input {
  background-color: #FFFFC7;
  color: #7b506f;
  border: transparent;
  border-radius: 5px;
  font-family: Helvetica, sans-serif;
}
.footer__letter_btn {
  background-color: #FFFFC7;
  color: #7b506f;
  border: transparent;
  border-radius: 5px;
  font-family: Helvetica, sans-serif;
}
.footer__infos {
  grid-column: 1/3;
  font-family: Helvetica, sans-serif;
  font-size: 0.7rem;
  margin-inline: auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__infos {
    grid-column: 2;
    margin-inline: 0;
    text-align: left;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__infos {
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  .footer__infos {
    grid-column: 4;
  }
}
@media screen and (min-width: 1536px) {
  .footer__infos {
    font-size: 1rem;
  }
}
.footer__sign {
  font-family: Helvetica, sans-serif;
  font-size: 0.3rem;
}
@media screen and (min-width: 768px) {
  .footer__sign {
    font-size: 0.5rem;
    grid-column: 1/3;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1024px) {
  .footer__sign {
    grid-column: 1/4;
  }
}
@media screen and (min-width: 1280px) {
  .footer__sign {
    grid-column: 1/5;
  }
}

/*# sourceMappingURL=style.css.map */
