.produits
    background-color: $light_violet
    padding-inline: 5%
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    border-bottom: 2px solid $melon

    &__title
        color: $melon
        font-size: 1.5rem
        padding-top: 10%

    &__vibration
        color: $dark_violet

        &_txt1
            text-align: center
            margin-block: 1%

